.body {
  background-color: black;
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.button {
  height: 100%;
  max-height: 51px;
  border-radius: 2px solid;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 100%;
  max-height: 52px;
  padding-top: 50px;
}

.header-nav {
  align-items: center;
  display: flex;
}

.header-nav__link {
  align-items: center;
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.header-nav__link:hover {
  transform: scale(1.1);
  font-weight: 3px;
}

.header-nav__img {
  margin-right: 10px;
}

.header__logo {
  margin-right: 109px;
  margin-left: 76px;
  bottom: 0;
}

.main {
  background-color: #333333, 87%;
  background-image: url("https://github.com/nmkzzztos/JEW.github.io/blob/main/assets/images/main/bgc.png");
}

.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  font-family: noto serif;
  color: #fff;
  margin-bottom: 50px;
}

.main__button {
  margin-bottom: 50px;
  font-size: 18px;
  padding: 15px 35px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.main__row {
  justify-content: space-between;
  display: flex;
}

.section {
  background-color: #E5E5E5;
}

.section__items {
  right: 50px;
}

.section__items img {
  width: 200%;
  max-width: 350px;
  box-sizing: border-box;
}

.section__text {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 15px;
}

.section__title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.section__button {
  margin-bottom: 50px;
  font-size: 18px;
  width: 165px;
  height: 61px;
  line-height: 21,19px;
  transition: 0.5s;
}

.section__button:hover {
  background-color: #333333;
  color: #ffffff;
}

.section__button:focus {
  background-color: #333333;
  color: #ffffff;
}

.section__row {
  min-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__column {
  width: 100%;
  max-width: 350px;
}

.section__column h1 {
  position: relative;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.our-salon {
  background-color: #black
  display: flex;
  align-items: center;
  justify-items: center;
}

.our-salon__subtitle {
  color: #ffffff;
  font-size: 21px;
  margin-bottom: 15px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-salon__title {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-salon__text {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 60px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
}

.our-salon__button {
  color: #000000;
  font-size: 18px;
  padding-bottom: 100px;
  padding: 15px 35px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
